@import '../common';


.main {
  background-color: $darkBgColor;
  height: 50rem;
  width: 50rem;
  padding: 5rem;
  padding-right: 0;
  margin: 3rem;

  * {
    color: $darkTextColor;
    font-size: 20px;
  }

  .quill {
    height: 4rem;
  }
  
  img.modal {
    width: 600px;
    height: 300px;
  }

}
